{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "parserPreset": {
    "parserOpts": {
      "issuePrefixes": [
        "PS-"
      ]
    }
  },
  "rules": {
    "references-empty": [
      2,
      "never"
    ],
    "scope-empty": [
      2,
      "never"
    ]
  }
}